footer {
  background: #121212;
  padding: 0px 4%;
}

.footer-menu {
  align-items: center;
  display: flex;
  align-items: center;
  padding: 50px 0px;
  border-bottom: 1px solid #808080;
  ul {
    li {
      font-size: 16px;
    }
  }
}
.footer-info {
  display: flex;
  padding: 50px 0px;
}

.company-info {
  font-size: 16px;
  color: #808080;
}
.column {
  flex: 25%;
}

@media only screen and (max-width: 900px) {
  .footer-menu {
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
    border-bottom: 1px solid #808080;
    ul {
      display: flex;
      flex-direction: column;
      li {
        font-size: 16px;
        padding-left: 0px;
      }
    }
  }

  .footer-info {
    display: flex;
    flex-direction: column;
  }
  #footer-logo {
    display: none;
  }
}
