.client-container {
  background: #121212;
  flex-direction: column;
  justify-content: center;
  padding: 92px 32px;
}

.client-logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client {
}
