.client-container {
  background: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 92px 32px;
}

.client-logos {
  display: flex;
  flex-wrap: wrap;
  padding: 92px 92px;
  gap: 200px;
  img {
    width: 100%;
  }
}
.column {
  width: 33.3%;
}

@media only screen and (max-width: 600px) {
  .client-logos {
    gap: 100px;
    padding: 20px 2px;
  }

  .column {
    width: 50%;
  }
}
